body {
    font-family:Arial, Helvetica, sans-serif ;
}

header {
    background-color: #f4f4f4;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

.task-list {
    list-style: none;
    padding: 0;
}